@import '../../styles/variables';


.match{
  box-sizing: border-box;
  padding: 20px 0 0 10px;
}

.matchTitle{
  text-align: left;
  border-bottom: 2px solid turquoise;
  background-color: turquoise;
  color: white;
  font-weight: bold;
  padding: 0 0 0 10px;
}

.matchBody {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  @media #{$sm} {
    flex-direction: row;
  }

}

.column {
  display: flex;
  width: 200px;
  height: 150px;
  align-items: flex-start;
}

.bordered {
  border: 1px solid black;
}

.checkbox {
  width: 100px;
  height: 100px;
}

.checkbox.visitor{
  order: 2;
  @media #{$sm} {
    order: 1;
  }
}

.visitorLogo{
  order: 1;
  @media #{$sm} {
    order: 2;
  }
}

.checkboxInner {
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
  margin: 50% 50%;
}

.icon.icon {
  width: 45px;
  height: 45px;
  margin-left: 2px;
}

.handshakeIcon.handshakeIcon{
  width: 85px;
  height: 85px;
  margin: 6px auto;
  display: block;

  @media #{$sm} {
    display: none;
  }
}

.checkboxInner.leftRight {
  transform: translate(-50%, -50%);
}

.checkboxInner.center {
  transform: translate(50%, -50%);
}

