$xs: #{"screen and (min-width: 480px)"};
$sm: #{"screen and (min-width: 768px)"};
$md: #{"screen and (min-width: 1200px)"};
$lg: #{"screen and (min-width: 1600px)"};
$xl: #{"screen and (min-width: 1900px)"};
$sm-max: #{"screen and (max-width: 1199px)"};
$md-max: #{"screen and (min-width: 1599px)"};
$screen-sm-min: 768px;
$screen-sm-max: 1199px;
$screen-xl-min: 1601px;

