@import "breakpoints.scss";
//@import "colors.scss";
//@import "type.mixins.scss";

$pad-1: 10px;
$pad-2: 20px;
$pad-3: 30px;
$pad-4: 40px;
$pad-5: 50px;
$pad-6: 60px;
$pad-7: 70px;
$pad-8: 80px;
$pad-9: 90px;
$pad-10: 100px;
$pad-xl: 130px;
$BodyMaxWidth: 750px;
